@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Sigmar&display=swap');
*{
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  width: 100%;
}

body{
  background-color: #101d23;
}

pre{
  color:white;
  margin-bottom: 50px;
  height:100px;
}
.container{
  display:none;
  font-weight:bold;
  background-color:black;
  margin:80px auto 0px;
  width:50vw;
  border-top:10px solid white;
  box-sizing:border-box;
  padding:3px;
  height:500px;
  border-radius:5px; 
}

#text{
  font-family: 'Inconsolata', monospace;
  color:green;
  font-size:15px;
  line-height: 20px;
}

.buttondiv{
height:100vh;
display: flex;
align-items: center;
box-sizing: border-box;
}

.buttondiv button{
  display: block;
  margin:auto;
  background-color: green;
  color:white;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  width:200px;
  height:80px;
  border:none;
  border-radius: 15px;
  cursor:pointer;
  box-sizing: border-box;
}

.buttondiv button:active{
transform: translateY(5px);
}

@media only screen and (max-width: 768px) {
  *{
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 0;
    width:600px;
    height:100vh;
    box-sizing: border-box;
}

#text{
    font-size: 20px;
    line-height: 30px;
}

}